@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.about{
    background: black;
    text-align: center;
    opacity: 0.9;
    height: 40rem;
}

.about h1{
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 2.8rem;
    text-transform: capitalize;
    line-height: 5rem;
    padding-top: 2rem;
}

.about p {
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 2rem;
    padding: 1rem;
    margin: 2rem 5rem 2rem 5rem;
}

.about a {
    text-decoration: none;
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(10 142 67);
    border-radius: 30px;
    transform: fade 3s ease;
}

.about a:hover{
    opacity: 0.5;
}

@media (max-width:450px){

    .about h1{
        font-size: 1.6rem;
        line-height: 2.6rem;
        padding-top: 0rem;
    }

    .about p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0rem;
        margin: 2rem;
    }

    .about a {
         font-size: 0.9rem;
        padding: 0.7rem;
        background: rgb(10 142 67);
        border-radius: 30px;
        transform: fade 3s ease;
    }
    
}