@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar::before {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  width: 100%;
  height: 25%;
}
.navbar img {
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  padding: 1rem;
}

.navbar-list {
  display: flex;

  color: white;
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  list-style: none;
}
.navbar a {
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 11px;
  text-transform: capitalize;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a:focus {
  background: rgb(10 142 67);
  color: black;
  cursor: pointer;
}
