.header {
  background-color:#262626;
  display: flex;
}

.navbar_wrapper {
  max-width: 1400px;
  padding: 0.6rem 1rem 0.6rem 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  padding-right: 1rem;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 20%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  list-style: none;
}

.header a {
  position: relative;
  margin: 1rem;
  padding: 0.7rem;
  border-radius: 30%;
  text-transform: capitalize;
  cursor: pointer;
}

.header a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(10 142 67);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media only screen and (max-width: 600px){
  .header {
    padding: 2%;
    justify-content: center;
  }

  .navbar_wrapper {
    padding: 0.6rem 0rem;
  }
  
  .header img {
    width: 35px;
    height: 35px;
    padding: 0;
  }

  .logo {
    padding-right: 0;
  }
  .navbar-list {
    font-size: 1rem;
  }

  .header a{
    margin: 0 0.6rem;
    padding: 0.2rem;
  }
}